

    <!-- Start Preloader Area -->
    <div class="preloader-area">
        <div class="spinner">
            <div class="inner">
                <div class="disc"></div>
                <div class="disc"></div>
                <div class="disc"></div>
            </div>
        </div>
    </div>
    <!-- End Preloader Area -->
    <!-- Start Main Content Wrapper Area -->
    <div class="main-content-wrapper d-flex flex-column">

        <!-- Start Navbar Area -->
        
        <!-- Start Sidemenu Area -->
        <div class="sidemenu-area">
            <div class="responsive-burger-menu d-lg-none d-block">
                <span class="top-bar"></span>
                <span class="middle-bar"></span>
                <span class="bottom-bar"></span>
            </div>

            <div class="sidemenu-body">
                <ul class="sidemenu-nav metisMenu h-100" id="sidemenu-nav" data-simplebar>
                    <li class="nav-item">
                        <a href="/home/index" class="nav-link">
                            <span class="icon"><i class="flaticon-newspaper"></i></span>
                            <span class="menu-title">News Feed</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/home/notifications" class="nav-link">
                            <span class="icon"><i class="flaticon-bell"></i></span>
                            <span class="menu-title">Notifications</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/home/messages" class="nav-link">
                            <span class="icon"><i class="flaticon-comment-1"></i></span>
                            <span class="menu-title">Messages</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/home/friends" class="nav-link">
                            <span class="icon"><i class="flaticon-friends"></i></span>
                            <span class="menu-title">Friends</span>
                        </a>
                    </li>
                    <li class="nav-item active">
                        <a href="/home/groups" class="nav-link">
                            <span class="icon"><i class="flaticon-team"></i></span>
                            <span class="menu-title">Groups</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/home/favorite" class="nav-link">
                            <span class="icon"><i class="flaticon-star"></i></span>
                            <span class="menu-title">Favorite</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/home/events" class="nav-link">
                            <span class="icon"><i class="flaticon-calendar"></i></span>
                            <span class="menu-title">Events</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/home/live-chat" class="nav-link">
                            <span class="icon"><i class="flaticon-live-chat"></i></span>
                            <span class="menu-title">Live Chat</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/home/birthday" class="nav-link">
                            <span class="icon"><i class="flaticon-cake"></i></span>
                            <span class="menu-title">Birthday</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/home/video" class="nav-link">
                            <span class="icon"><i class="flaticon-video"></i></span>
                            <span class="menu-title">Video</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/home/weather" class="nav-link">
                            <span class="icon"><i class="flaticon-cloudy"></i></span>
                            <span class="menu-title">Weather</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/home/marketplace" class="nav-link">
                            <span class="icon"><i class="flaticon-online-shopping"></i></span>
                            <span class="menu-title">Marketplace</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/home/login" class="nav-link">
                            <span class="icon"><i class="flaticon-user"></i></span>
                            <span class="menu-title">Login</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/home/register" class="nav-link">
                            <span class="icon"><i class="flaticon-information"></i></span>
                            <span class="menu-title">Register</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- End Sidemenu Area -->
        <!-- Start Content Page Box Area -->
        <div class="content-page-box-area">
            <div class="page-banner-box bg-5">
                <h3>Groups</h3>
            </div>

            <div class="groups-inner-box-style d-flex justify-content-between align-items-center">
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="all-groups-tab" data-bs-toggle="tab" href="#all-groups" role="tab" aria-controls="all-groups">All Groups</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="most-members-tab" data-bs-toggle="tab" href="#most-members" role="tab" aria-controls="most-members">Most Members</a>
                    </li>
                </ul>

                <div class="groups-search-box">
                    <form>
                        <input type="text" class="input-search" placeholder="Search groups...">
                        <button type="submit"><i class="ri-search-line"></i></button>
                    </form>
                </div>
            </div>

            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="all-groups" role="tabpanel">
                    <div class="row justify-content-center">
                        <div class="col-lg-3 col-sm-6">
                            <div class="single-groups-card">
                                <div class="groups-image">
                                    <a href="#">
                                        <img src="~/assets/images/groups/groups-bg-1.jpg" alt="image">
                                    </a>
                                </div>
                                <div class="groups-content">
                                    <div class="groups-info d-flex justify-content-between align-items-center">
                                        <a href="#">
                                            <img src="~/assets/images/groups/groups-1.jpg" alt="image">
                                        </a>
                                        <div class="text ms-3">
                                            <h3><a href="#">Graphic Design</a></h3>
                                            <span>Public Groups</span>
                                        </div>
                                    </div>
                                    <ul class="statistics">
                                        <li>
                                            <a href="#">
                                                <span class="item-number">62</span>
                                                <span class="item-text">Post</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <span class="item-number">6451</span>
                                                <span class="item-text">Members</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <span class="item-number">2016</span>
                                                <span class="item-text">Since</span>
                                            </a>
                                        </li>
                                    </ul>
                                    <div class="join-groups-btn">
                                        <button type="submit">Join Group</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-6">
                            <div class="single-groups-card">
                                <div class="groups-image">
                                    <a href="#">
                                        <img src="~/assets/images/groups/groups-bg-2.jpg" alt="image">
                                    </a>
                                </div>
                                <div class="groups-content">
                                    <div class="groups-info d-flex justify-content-between align-items-center">
                                        <a href="#">
                                            <img src="~/assets/images/groups/groups-2.jpg" alt="image">
                                        </a>
                                        <div class="text ms-3">
                                            <h3><a href="#">Marketing</a></h3>
                                            <span>Public Groups</span>
                                        </div>
                                    </div>
                                    <ul class="statistics">
                                        <li>
                                            <a href="#">
                                                <span class="item-number">173</span>
                                                <span class="item-text">Post</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <span class="item-number">7451</span>
                                                <span class="item-text">Members</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <span class="item-number">2015</span>
                                                <span class="item-text">Since</span>
                                            </a>
                                        </li>
                                    </ul>
                                    <div class="join-groups-btn">
                                        <button type="submit">Join Group</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-6">
                            <div class="single-groups-card">
                                <div class="groups-image">
                                    <a href="#">
                                        <img src="~/assets/images/groups/groups-bg-3.jpg" alt="image">
                                    </a>
                                </div>
                                <div class="groups-content">
                                    <div class="groups-info d-flex justify-content-between align-items-center">
                                        <a href="#">
                                            <img src="~/assets/images/groups/groups-3.jpg" alt="image">
                                        </a>
                                        <div class="text ms-3">
                                            <h3><a href="#">Fitness Club</a></h3>
                                            <span>Public Groups</span>
                                        </div>
                                    </div>
                                    <ul class="statistics">
                                        <li>
                                            <a href="#">
                                                <span class="item-number">122</span>
                                                <span class="item-text">Post</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <span class="item-number">9453</span>
                                                <span class="item-text">Members</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <span class="item-number">2013</span>
                                                <span class="item-text">Since</span>
                                            </a>
                                        </li>
                                    </ul>
                                    <div class="join-groups-btn">
                                        <button type="submit">Join Group</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-6">
                            <div class="single-groups-card">
                                <div class="groups-image">
                                    <a href="#">
                                        <img src="~/assets/images/groups/groups-bg-4.jpg" alt="image">
                                    </a>
                                </div>
                                <div class="groups-content">
                                    <div class="groups-info d-flex justify-content-between align-items-center">
                                        <a href="#">
                                            <img src="~/assets/images/groups/groups-4.jpg" alt="image">
                                        </a>
                                        <div class="text ms-3">
                                            <h3><a href="#">Restaurant</a></h3>
                                            <span>Public Groups</span>
                                        </div>
                                    </div>
                                    <ul class="statistics">
                                        <li>
                                            <a href="#">
                                                <span class="item-number">321</span>
                                                <span class="item-text">Post</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <span class="item-number">1151</span>
                                                <span class="item-text">Members</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <span class="item-number">2019</span>
                                                <span class="item-text">Since</span>
                                            </a>
                                        </li>
                                    </ul>
                                    <div class="join-groups-btn">
                                        <button type="submit">Join Group</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-6">
                            <div class="single-groups-card">
                                <div class="groups-image">
                                    <a href="#">
                                        <img src="~/assets/images/groups/groups-bg-5.jpg" alt="image">
                                    </a>
                                </div>
                                <div class="groups-content">
                                    <div class="groups-info d-flex justify-content-between align-items-center">
                                        <a href="#">
                                            <img src="~/assets/images/groups/groups-5.jpg" alt="image">
                                        </a>
                                        <div class="text ms-3">
                                            <h3><a href="#">Travel Life</a></h3>
                                            <span>Public Groups</span>
                                        </div>
                                    </div>
                                    <ul class="statistics">
                                        <li>
                                            <a href="#">
                                                <span class="item-number">99</span>
                                                <span class="item-text">Post</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <span class="item-number">650</span>
                                                <span class="item-text">Members</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <span class="item-number">2017</span>
                                                <span class="item-text">Since</span>
                                            </a>
                                        </li>
                                    </ul>
                                    <div class="join-groups-btn">
                                        <button type="submit">Join Group</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-6">
                            <div class="single-groups-card">
                                <div class="groups-image">
                                    <a href="#">
                                        <img src="~/assets/images/groups/groups-bg-6.jpg" alt="image">
                                    </a>
                                </div>
                                <div class="groups-content">
                                    <div class="groups-info d-flex justify-content-between align-items-center">
                                        <a href="#">
                                            <img src="~/assets/images/groups/groups-6.jpg" alt="image">
                                        </a>
                                        <div class="text ms-3">
                                            <h3><a href="#">Fashion Day</a></h3>
                                            <span>Public Groups</span>
                                        </div>
                                    </div>
                                    <ul class="statistics">
                                        <li>
                                            <a href="#">
                                                <span class="item-number">159</span>
                                                <span class="item-text">Post</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <span class="item-number">1929</span>
                                                <span class="item-text">Members</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <span class="item-number">2018</span>
                                                <span class="item-text">Since</span>
                                            </a>
                                        </li>
                                    </ul>
                                    <div class="join-groups-btn">
                                        <button type="submit">Join Group</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-6">
                            <div class="single-groups-card">
                                <div class="groups-image">
                                    <a href="#">
                                        <img src="~/assets/images/groups/groups-bg-7.jpg" alt="image">
                                    </a>
                                </div>
                                <div class="groups-content">
                                    <div class="groups-info d-flex justify-content-between align-items-center">
                                        <a href="#">
                                            <img src="~/assets/images/groups/groups-7.jpg" alt="image">
                                        </a>
                                        <div class="text ms-3">
                                            <h3><a href="#">Photography</a></h3>
                                            <span>Public Groups</span>
                                        </div>
                                    </div>
                                    <ul class="statistics">
                                        <li>
                                            <a href="#">
                                                <span class="item-number">150</span>
                                                <span class="item-text">Post</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <span class="item-number">321</span>
                                                <span class="item-text">Members</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <span class="item-number">2019</span>
                                                <span class="item-text">Since</span>
                                            </a>
                                        </li>
                                    </ul>
                                    <div class="join-groups-btn">
                                        <button type="submit">Join Group</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-6">
                            <div class="single-groups-card">
                                <div class="groups-image">
                                    <a href="#">
                                        <img src="~/assets/images/groups/groups-bg-8.jpg" alt="image">
                                    </a>
                                </div>
                                <div class="groups-content">
                                    <div class="groups-info d-flex justify-content-between align-items-center">
                                        <a href="#">
                                            <img src="~/assets/images/groups/groups-8.jpg" alt="image">
                                        </a>
                                        <div class="text ms-3">
                                            <h3><a href="#">Child Care</a></h3>
                                            <span>Public Groups</span>
                                        </div>
                                    </div>
                                    <ul class="statistics">
                                        <li>
                                            <a href="#">
                                                <span class="item-number">58</span>
                                                <span class="item-text">Post</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <span class="item-number">224</span>
                                                <span class="item-text">Members</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <span class="item-number">2020</span>
                                                <span class="item-text">Since</span>
                                            </a>
                                        </li>
                                    </ul>
                                    <div class="join-groups-btn">
                                        <button type="submit">Join Group</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-6">
                            <div class="single-groups-card">
                                <div class="groups-image">
                                    <a href="#">
                                        <img src="~/assets/images/groups/groups-bg-9.jpg" alt="image">
                                    </a>
                                </div>
                                <div class="groups-content">
                                    <div class="groups-info d-flex justify-content-between align-items-center">
                                        <a href="#">
                                            <img src="~/assets/images/groups/groups-9.jpg" alt="image">
                                        </a>
                                        <div class="text ms-3">
                                            <h3><a href="#">Music Club</a></h3>
                                            <span>Public Groups</span>
                                        </div>
                                    </div>
                                    <ul class="statistics">
                                        <li>
                                            <a href="#">
                                                <span class="item-number">120</span>
                                                <span class="item-text">Post</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <span class="item-number">165</span>
                                                <span class="item-text">Members</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <span class="item-number">2015</span>
                                                <span class="item-text">Since</span>
                                            </a>
                                        </li>
                                    </ul>
                                    <div class="join-groups-btn">
                                        <button type="submit">Join Group</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-6">
                            <div class="single-groups-card">
                                <div class="groups-image">
                                    <a href="#">
                                        <img src="~/assets/images/groups/groups-bg-10.jpg" alt="image">
                                    </a>
                                </div>
                                <div class="groups-content">
                                    <div class="groups-info d-flex justify-content-between align-items-center">
                                        <a href="#">
                                            <img src="~/assets/images/groups/groups-10.jpg" alt="image">
                                        </a>
                                        <div class="text ms-3">
                                            <h3><a href="#">Developer</a></h3>
                                            <span>Public Groups</span>
                                        </div>
                                    </div>
                                    <ul class="statistics">
                                        <li>
                                            <a href="#">
                                                <span class="item-number">145</span>
                                                <span class="item-text">Post</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <span class="item-number">3245</span>
                                                <span class="item-text">Members</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <span class="item-number">2019</span>
                                                <span class="item-text">Since</span>
                                            </a>
                                        </li>
                                    </ul>
                                    <div class="join-groups-btn">
                                        <button type="submit">Join Group</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-6">
                            <div class="single-groups-card">
                                <div class="groups-image">
                                    <a href="#">
                                        <img src="~/assets/images/groups/groups-bg-11.jpg" alt="image">
                                    </a>
                                </div>
                                <div class="groups-content">
                                    <div class="groups-info d-flex justify-content-between align-items-center">
                                        <a href="#">
                                            <img src="~/assets/images/groups/groups-11.jpg" alt="image">
                                        </a>
                                        <div class="text ms-3">
                                            <h3><a href="#">Sports Fun</a></h3>
                                            <span>Public Groups</span>
                                        </div>
                                    </div>
                                    <ul class="statistics">
                                        <li>
                                            <a href="#">
                                                <span class="item-number">245</span>
                                                <span class="item-text">Post</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <span class="item-number">4245</span>
                                                <span class="item-text">Members</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <span class="item-number">2010</span>
                                                <span class="item-text">Since</span>
                                            </a>
                                        </li>
                                    </ul>
                                    <div class="join-groups-btn">
                                        <button type="submit">Join Group</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-6">
                            <div class="single-groups-card">
                                <div class="groups-image">
                                    <a href="#">
                                        <img src="~/assets/images/groups/groups-bg-12.jpg" alt="image">
                                    </a>
                                </div>
                                <div class="groups-content">
                                    <div class="groups-info d-flex justify-content-between align-items-center">
                                        <a href="#">
                                            <img src="~/assets/images/groups/groups-12.jpg" alt="image">
                                        </a>
                                        <div class="text ms-3">
                                            <h3><a href="#">Teaching Club</a></h3>
                                            <span>Public Groups</span>
                                        </div>
                                    </div>
                                    <ul class="statistics">
                                        <li>
                                            <a href="#">
                                                <span class="item-number">62</span>
                                                <span class="item-text">Post</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <span class="item-number">6245</span>
                                                <span class="item-text">Members</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <span class="item-number">2012</span>
                                                <span class="item-text">Since</span>
                                            </a>
                                        </li>
                                    </ul>
                                    <div class="join-groups-btn">
                                        <button type="submit">Join Group</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="load-more-posts-btn">
                        <a href="#"><i class="flaticon-loading"></i> Load More</a>
                    </div>
                </div>

                <div class="tab-pane fade" id="most-members" role="tabpanel">
                    <div class="row justify-content-center">
                        <div class="col-lg-3 col-sm-6">
                            <div class="single-groups-card">
                                <div class="groups-image">
                                    <a href="#">
                                        <img src="~/assets/images/groups/groups-bg-1.jpg" alt="image">
                                    </a>
                                </div>
                                <div class="groups-content">
                                    <div class="groups-info d-flex justify-content-between align-items-center">
                                        <a href="#">
                                            <img src="~/assets/images/groups/groups-1.jpg" alt="image">
                                        </a>
                                        <div class="text ms-3">
                                            <h3><a href="#">Graphic Design</a></h3>
                                            <span>Public Groups</span>
                                        </div>
                                    </div>
                                    <ul class="statistics">
                                        <li>
                                            <a href="#">
                                                <span class="item-number">62</span>
                                                <span class="item-text">Post</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <span class="item-number">6451</span>
                                                <span class="item-text">Members</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <span class="item-number">2016</span>
                                                <span class="item-text">Since</span>
                                            </a>
                                        </li>
                                    </ul>
                                    <div class="join-groups-btn">
                                        <button type="submit">Join Group</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-6">
                            <div class="single-groups-card">
                                <div class="groups-image">
                                    <a href="#">
                                        <img src="~/assets/images/groups/groups-bg-2.jpg" alt="image">
                                    </a>
                                </div>
                                <div class="groups-content">
                                    <div class="groups-info d-flex justify-content-between align-items-center">
                                        <a href="#">
                                            <img src="~/assets/images/groups/groups-2.jpg" alt="image">
                                        </a>
                                        <div class="text ms-3">
                                            <h3><a href="#">Marketing</a></h3>
                                            <span>Public Groups</span>
                                        </div>
                                    </div>
                                    <ul class="statistics">
                                        <li>
                                            <a href="#">
                                                <span class="item-number">173</span>
                                                <span class="item-text">Post</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <span class="item-number">7451</span>
                                                <span class="item-text">Members</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <span class="item-number">2015</span>
                                                <span class="item-text">Since</span>
                                            </a>
                                        </li>
                                    </ul>
                                    <div class="join-groups-btn">
                                        <button type="submit">Join Group</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-6">
                            <div class="single-groups-card">
                                <div class="groups-image">
                                    <a href="#">
                                        <img src="~/assets/images/groups/groups-bg-3.jpg" alt="image">
                                    </a>
                                </div>
                                <div class="groups-content">
                                    <div class="groups-info d-flex justify-content-between align-items-center">
                                        <a href="#">
                                            <img src="~/assets/images/groups/groups-3.jpg" alt="image">
                                        </a>
                                        <div class="text ms-3">
                                            <h3><a href="#">Fitness Club</a></h3>
                                            <span>Public Groups</span>
                                        </div>
                                    </div>
                                    <ul class="statistics">
                                        <li>
                                            <a href="#">
                                                <span class="item-number">122</span>
                                                <span class="item-text">Post</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <span class="item-number">9453</span>
                                                <span class="item-text">Members</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <span class="item-number">2013</span>
                                                <span class="item-text">Since</span>
                                            </a>
                                        </li>
                                    </ul>
                                    <div class="join-groups-btn">
                                        <button type="submit">Join Group</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-6">
                            <div class="single-groups-card">
                                <div class="groups-image">
                                    <a href="#">
                                        <img src="~/assets/images/groups/groups-bg-4.jpg" alt="image">
                                    </a>
                                </div>
                                <div class="groups-content">
                                    <div class="groups-info d-flex justify-content-between align-items-center">
                                        <a href="#">
                                            <img src="~/assets/images/groups/groups-4.jpg" alt="image">
                                        </a>
                                        <div class="text ms-3">
                                            <h3><a href="#">Restaurant</a></h3>
                                            <span>Public Groups</span>
                                        </div>
                                    </div>
                                    <ul class="statistics">
                                        <li>
                                            <a href="#">
                                                <span class="item-number">321</span>
                                                <span class="item-text">Post</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <span class="item-number">1151</span>
                                                <span class="item-text">Members</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <span class="item-number">2019</span>
                                                <span class="item-text">Since</span>
                                            </a>
                                        </li>
                                    </ul>
                                    <div class="join-groups-btn">
                                        <button type="submit">Join Group</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-6">
                            <div class="single-groups-card">
                                <div class="groups-image">
                                    <a href="#">
                                        <img src="~/assets/images/groups/groups-bg-5.jpg" alt="image">
                                    </a>
                                </div>
                                <div class="groups-content">
                                    <div class="groups-info d-flex justify-content-between align-items-center">
                                        <a href="#">
                                            <img src="~/assets/images/groups/groups-5.jpg" alt="image">
                                        </a>
                                        <div class="text ms-3">
                                            <h3><a href="#">Travel Life</a></h3>
                                            <span>Public Groups</span>
                                        </div>
                                    </div>
                                    <ul class="statistics">
                                        <li>
                                            <a href="#">
                                                <span class="item-number">99</span>
                                                <span class="item-text">Post</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <span class="item-number">650</span>
                                                <span class="item-text">Members</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <span class="item-number">2017</span>
                                                <span class="item-text">Since</span>
                                            </a>
                                        </li>
                                    </ul>
                                    <div class="join-groups-btn">
                                        <button type="submit">Join Group</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-6">
                            <div class="single-groups-card">
                                <div class="groups-image">
                                    <a href="#">
                                        <img src="~/assets/images/groups/groups-bg-6.jpg" alt="image">
                                    </a>
                                </div>
                                <div class="groups-content">
                                    <div class="groups-info d-flex justify-content-between align-items-center">
                                        <a href="#">
                                            <img src="~/assets/images/groups/groups-6.jpg" alt="image">
                                        </a>
                                        <div class="text ms-3">
                                            <h3><a href="#">Fashion Day</a></h3>
                                            <span>Public Groups</span>
                                        </div>
                                    </div>
                                    <ul class="statistics">
                                        <li>
                                            <a href="#">
                                                <span class="item-number">159</span>
                                                <span class="item-text">Post</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <span class="item-number">1929</span>
                                                <span class="item-text">Members</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <span class="item-number">2018</span>
                                                <span class="item-text">Since</span>
                                            </a>
                                        </li>
                                    </ul>
                                    <div class="join-groups-btn">
                                        <button type="submit">Join Group</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-6">
                            <div class="single-groups-card">
                                <div class="groups-image">
                                    <a href="#">
                                        <img src="~/assets/images/groups/groups-bg-7.jpg" alt="image">
                                    </a>
                                </div>
                                <div class="groups-content">
                                    <div class="groups-info d-flex justify-content-between align-items-center">
                                        <a href="#">
                                            <img src="~/assets/images/groups/groups-7.jpg" alt="image">
                                        </a>
                                        <div class="text ms-3">
                                            <h3><a href="#">Photography</a></h3>
                                            <span>Public Groups</span>
                                        </div>
                                    </div>
                                    <ul class="statistics">
                                        <li>
                                            <a href="#">
                                                <span class="item-number">150</span>
                                                <span class="item-text">Post</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <span class="item-number">321</span>
                                                <span class="item-text">Members</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <span class="item-number">2019</span>
                                                <span class="item-text">Since</span>
                                            </a>
                                        </li>
                                    </ul>
                                    <div class="join-groups-btn">
                                        <button type="submit">Join Group</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-6">
                            <div class="single-groups-card">
                                <div class="groups-image">
                                    <a href="#">
                                        <img src="~/assets/images/groups/groups-bg-8.jpg" alt="image">
                                    </a>
                                </div>
                                <div class="groups-content">
                                    <div class="groups-info d-flex justify-content-between align-items-center">
                                        <a href="#">
                                            <img src="~/assets/images/groups/groups-8.jpg" alt="image">
                                        </a>
                                        <div class="text ms-3">
                                            <h3><a href="#">Child Care</a></h3>
                                            <span>Public Groups</span>
                                        </div>
                                    </div>
                                    <ul class="statistics">
                                        <li>
                                            <a href="#">
                                                <span class="item-number">58</span>
                                                <span class="item-text">Post</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <span class="item-number">224</span>
                                                <span class="item-text">Members</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <span class="item-number">2020</span>
                                                <span class="item-text">Since</span>
                                            </a>
                                        </li>
                                    </ul>
                                    <div class="join-groups-btn">
                                        <button type="submit">Join Group</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-6">
                            <div class="single-groups-card">
                                <div class="groups-image">
                                    <a href="#">
                                        <img src="~/assets/images/groups/groups-bg-9.jpg" alt="image">
                                    </a>
                                </div>
                                <div class="groups-content">
                                    <div class="groups-info d-flex justify-content-between align-items-center">
                                        <a href="#">
                                            <img src="~/assets/images/groups/groups-9.jpg" alt="image">
                                        </a>
                                        <div class="text ms-3">
                                            <h3><a href="#">Music Club</a></h3>
                                            <span>Public Groups</span>
                                        </div>
                                    </div>
                                    <ul class="statistics">
                                        <li>
                                            <a href="#">
                                                <span class="item-number">120</span>
                                                <span class="item-text">Post</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <span class="item-number">165</span>
                                                <span class="item-text">Members</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <span class="item-number">2015</span>
                                                <span class="item-text">Since</span>
                                            </a>
                                        </li>
                                    </ul>
                                    <div class="join-groups-btn">
                                        <button type="submit">Join Group</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-6">
                            <div class="single-groups-card">
                                <div class="groups-image">
                                    <a href="#">
                                        <img src="~/assets/images/groups/groups-bg-10.jpg" alt="image">
                                    </a>
                                </div>
                                <div class="groups-content">
                                    <div class="groups-info d-flex justify-content-between align-items-center">
                                        <a href="#">
                                            <img src="~/assets/images/groups/groups-10.jpg" alt="image">
                                        </a>
                                        <div class="text ms-3">
                                            <h3><a href="#">Developer</a></h3>
                                            <span>Public Groups</span>
                                        </div>
                                    </div>
                                    <ul class="statistics">
                                        <li>
                                            <a href="#">
                                                <span class="item-number">145</span>
                                                <span class="item-text">Post</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <span class="item-number">3245</span>
                                                <span class="item-text">Members</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <span class="item-number">2019</span>
                                                <span class="item-text">Since</span>
                                            </a>
                                        </li>
                                    </ul>
                                    <div class="join-groups-btn">
                                        <button type="submit">Join Group</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-6">
                            <div class="single-groups-card">
                                <div class="groups-image">
                                    <a href="#">
                                        <img src="~/assets/images/groups/groups-bg-11.jpg" alt="image">
                                    </a>
                                </div>
                                <div class="groups-content">
                                    <div class="groups-info d-flex justify-content-between align-items-center">
                                        <a href="#">
                                            <img src="~/assets/images/groups/groups-11.jpg" alt="image">
                                        </a>
                                        <div class="text ms-3">
                                            <h3><a href="#">Sports Fun</a></h3>
                                            <span>Public Groups</span>
                                        </div>
                                    </div>
                                    <ul class="statistics">
                                        <li>
                                            <a href="#">
                                                <span class="item-number">245</span>
                                                <span class="item-text">Post</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <span class="item-number">4245</span>
                                                <span class="item-text">Members</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <span class="item-number">2010</span>
                                                <span class="item-text">Since</span>
                                            </a>
                                        </li>
                                    </ul>
                                    <div class="join-groups-btn">
                                        <button type="submit">Join Group</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-6">
                            <div class="single-groups-card">
                                <div class="groups-image">
                                    <a href="#">
                                        <img src="~/assets/images/groups/groups-bg-12.jpg" alt="image">
                                    </a>
                                </div>
                                <div class="groups-content">
                                    <div class="groups-info d-flex justify-content-between align-items-center">
                                        <a href="#">
                                            <img src="~/assets/images/groups/groups-12.jpg" alt="image">
                                        </a>
                                        <div class="text ms-3">
                                            <h3><a href="#">Teaching Club</a></h3>
                                            <span>Public Groups</span>
                                        </div>
                                    </div>
                                    <ul class="statistics">
                                        <li>
                                            <a href="#">
                                                <span class="item-number">62</span>
                                                <span class="item-text">Post</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <span class="item-number">6245</span>
                                                <span class="item-text">Members</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <span class="item-number">2012</span>
                                                <span class="item-text">Since</span>
                                            </a>
                                        </li>
                                    </ul>
                                    <div class="join-groups-btn">
                                        <button type="submit">Join Group</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="load-more-posts-btn">
                        <a href="#"><i class="flaticon-loading"></i> Load More</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Content Page Box Area -->
        <!-- Start Right Sidebar Area -->
        <div class="right-sidebar-area" data-simplebar>
            <div class="recent-chat-box">
                <div class="title">
                    <h3>Recent Chat</h3>
                </div>

                <div class="chat-body" data-simplebar>
                    <div class="chat-item">
                        <a href="#"><img src="~/assets/images/user/user-15.jpg" class="rounded-circle" alt="image"></a>
                        <span class="name"><a href="#">Stephan Redding</a></span>
                        <span class="status-online"></span>
                    </div>
                    <div class="chat-item">
                        <a href="#"><img src="~/assets/images/user/user-16.jpg" class="rounded-circle" alt="image"></a>
                        <span class="name"><a href="#">Maria Smith</a></span>
                        <span class="status-offline"></span>
                    </div>
                    <div class="chat-item">
                        <a href="#"><img src="~/assets/images/user/user-17.jpg" class="rounded-circle" alt="image"></a>
                        <span class="name"><a href="#">Paul Enlow</a></span>
                        <span class="status-online"></span>
                    </div>
                    <div class="chat-item">
                        <a href="#"><img src="~/assets/images/user/user-8.jpg" class="rounded-circle" alt="image"></a>
                        <span class="name"><a href="#">Stephan Redding</a></span>
                        <span class="status-offline"></span>
                    </div>
                    <div class="chat-item">
                        <a href="#"><img src="~/assets/images/user/user-9.jpg" class="rounded-circle" alt="image"></a>
                        <span class="name"><a href="#">Maria Smith</a></span>
                        <span class="status-online"></span>
                    </div>
                    <div class="chat-item">
                        <a href="#"><img src="~/assets/images/user/user-10.jpg" class="rounded-circle" alt="image"></a>
                        <span class="name"><a href="#">Paul Enlow</a></span>
                        <span class="status-offline"></span>
                    </div>
                </div>
            </div>

            <div class="recent-contact-box">
                <div class="title">
                    <h3>Contact</h3>
                </div>
                <div class="contact-search-box">
                    <form>
                        <input type="text" class="input-search" placeholder="Search">
                        <button type="submit"><i class="ri-search-line"></i></button>
                    </form>
                </div>
                <div class="contact-body" data-simplebar>
                    <div class="contact-item">
                        <a href="#"><img src="~/assets/images/user/user-18.jpg" class="rounded-circle" alt="image"></a>
                        <span class="name"><a href="#">Karen Williams</a></span>
                        <span class="status-online"></span>
                    </div>
                    <div class="contact-item">
                        <a href="#"><img src="~/assets/images/user/user-4.jpg" class="rounded-circle" alt="image"></a>
                        <span class="name"><a href="#">Mary A. Schwarz</a></span>
                        <span class="status-online"></span>
                    </div>
                    <div class="contact-item">
                        <a href="#"><img src="~/assets/images/user/user-20.jpg" class="rounded-circle" alt="image"></a>
                        <span class="name"><a href="#">Rex Carruth</a></span>
                        <span class="status-online"></span>
                    </div>
                    <div class="contact-item">
                        <a href="#"><img src="~/assets/images/user/user-11.jpg" class="rounded-circle" alt="image"></a>
                        <span class="name"><a href="#">James Vanwinkle</a></span>
                        <span class="status-online"></span>
                    </div>
                    <div class="contact-item">
                        <a href="#"><img src="~/assets/images/user/user-19.jpg" class="rounded-circle" alt="image"></a>
                        <span class="name"><a href="#">Oscar Thompson</a></span>
                        <span class="status-offline"></span>
                    </div>
                    <div class="contact-item">
                        <a href="#"><img src="~/assets/images/user/user-12.jpg" class="rounded-circle" alt="image"></a>
                        <span class="name"><a href="#">Harry Lopez</a></span>
                        <span class="status-online"></span>
                    </div>
                    <div class="contact-item">
                        <a href="#"><img src="~/assets/images/user/user-21.jpg" class="rounded-circle" alt="image"></a>
                        <span class="name"><a href="#">Frank S. Arena</a></span>
                        <span class="status-offline"></span>
                    </div>
                    <div class="contact-item">
                        <a href="#"><img src="~/assets/images/user/user-16.jpg" class="rounded-circle" alt="image"></a>
                        <span class="name"><a href="#">Karen Williams</a></span>
                        <span class="status-online"></span>
                    </div>
                    <div class="contact-item">
                        <a href="#"><img src="~/assets/images/user/user-2.jpg" class="rounded-circle" alt="image"></a>
                        <span class="name"><a href="#">Mary A. Schwarz</a></span>
                        <span class="status-online"></span>
                    </div>
                    <div class="contact-item">
                        <a href="#"><img src="~/assets/images/user/user-14.jpg" class="rounded-circle" alt="image"></a>
                        <span class="name"><a href="#">Rex Carruth</a></span>
                        <span class="status-offline"></span>
                    </div>
                    <div class="contact-item">
                        <a href="#"><img src="~/assets/images/user/user-18.jpg" class="rounded-circle" alt="image"></a>
                        <span class="name"><a href="#">James Vanwinkle</a></span>
                        <span class="status-online"></span>
                    </div>
                    <div class="contact-item">
                        <a href="#"><img src="~/assets/images/user/user-5.jpg" class="rounded-circle" alt="image"></a>
                        <span class="name"><a href="#">Oscar Thompson</a></span>
                        <span class="status-offline"></span>
                    </div>
                    <div class="contact-item">
                        <a href="#"><img src="~/assets/images/user/user-6.jpg" class="rounded-circle" alt="image"></a>
                        <span class="name"><a href="#">Harry Lopez</a></span>
                        <span class="status-online"></span>
                    </div>
                    <div class="contact-item">
                        <a href="#"><img src="~/assets/images/user/user-7.jpg" class="rounded-circle" alt="image"></a>
                        <span class="name"><a href="#">Frank S. Arena</a></span>
                        <span class="status-offline"></span>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Right Sidebar Area -->

    </div>
    <!-- End Main Content Wrapper Area -->
    <!-- Start Copyright Area -->
    <div class="copyrights-area">
        <div class="container">
            <div class="row align-items-center">
                <p><i class="ri-copyright-line"></i> 2021 Zust. All Rights Reserved by <a href="https://envytheme.com/" target="_blank">EnvyTheme</a></p>
            </div>
        </div>
    </div>
    <!-- End Copyright Area -->
    <!-- Start Go Top Area -->
    <div class="go-top">
        <i class="ri-arrow-up-line"></i>
    </div>

